<!DOCTYPE html>
<html>
  <head>
    <title>Autenticação</title>
    <link rel="stylesheet" type="text/css" href="css/autenticacao.css">
  </head>
  <body>
    <div class="form">
     <form>
        <h1 style="text-align: center;"> Autenticação Necessária </h1>
        <div>
          <label for="login">  </label>
          <input type="text" placeholder="Login" name="login" id="login">
        </div>
        <br>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='cadastroUsuario.html';" value="Entrar" />
        </div>
        <br>
        <input class="buttons" type="button" onclick="location.href='telaPrincipal.html';" value="Voltar" />
        </div>
     </form>
  </body>
</html>
