<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cadastrar Usúario</title>
    <link rel="stylesheet" type="text/css" href="css/cadastroCliente.css">
  </head>
  <body>
    <div class="form">
     <form>
        <h1 style="text-align: center;"> Registrar Novo Cliente</h1>
        <div>
          <label for="nome">  </label>
          <input type="text" name="nome" id="nome" placeholder="Nome">
        </div>
        <div>
          <label for="endereco">  </label>
          <input type="text" name="endereco" id="endereco" placeholder="Endereço">
        </div>
        <div>
          <label for="CPF">  </label>
          <input type="text" name="CPF" id="CPF" placeholder="CPF">
        </div>
        <div>
          <label for="telefone">  </label>
          <input type="text" name="telefone" id="telefone" placeholder="Telefone">
        </div>
        <div>
          <label for="email">  </label>
          <input type="text" name="email" id="email" placeholder="Email">
        </div>
        <br>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='telaPrincipal.html';" value="Registrar" />
        </div>
        <br>
        <br>
        <input class="buttons" type="button" onclick="location.href='telaPrincipal.html';" value="Voltar" />
        </div>
     </form>
  </body>
</html>
