<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cadastrar Usúario</title>
    <link rel="stylesheet" type="text/css" href="css/cadastroUsuario.css" th:href="@{/css/cadastroUsuario.css}">
  </head>
  <body>
    <div class="form">
     <form th:action="@{/usuarios/adicionar}" th:object="${usuario}" method="POST">
        <h1 style="text-align: center;"> Registrar Novo Usuário</h1>
        <div>
          <label for="login">  </label>
          <input type="text" th:field="*{login}" id="login" placeholder="Login">
        </div>
        <div>
          <label for="senha">  </label>
          <input type="password" th:field="*{senha}" id="senha" placeholder="Senha">
        </div>
        <br>
        <div style="text-align: center;">
          <input class="buttons" type="submit" th:onclick="'window.location.href=\'' + @{/navegar/telaPrincipal} + '\''" value="Registrar" />
        </div>
        <br>
        <br>
        <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/navegar/telaPrincipal} + '\''" value="Voltar" />
        </div>
     </form>
  </body>
</html>
