<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cadastrar Usúario</title>
    <link rel="stylesheet" type="text/css" href="css/cadastroCliente.css" th:href="@{/css/cadastroCliente.css}">
  </head>
  <body>
    <div class="form">
     <form th:action="@{/clientes/adicionar}" th:object="${cliente}" method="POST">
        <h1 style="text-align: center;"> Registrar Novo Cliente</h1>
        <div>
          <label for="nome">  </label>
          <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
        </div>
        <div>
          <label for="endereco">  </label>
          <input type="text" th:field="*{endereco}" id="endereco" placeholder="Endereço">
        </div>
        <div>
          <label for="CPF">  </label>
          <input type="text" th:field="*{cpf}" id="CPF" placeholder="CPF">
        </div>
        <div>
          <label for="telefone">  </label>
          <input type="text" th:field="*{telefone}" id="telefone" placeholder="Telefone">
        </div>
        <div>
          <label for="email">  </label>
          <input type="text" th:field="*{email}" id="email" placeholder="Email">
        </div>
        <br>
        <div style="text-align: center;">
          <input class="buttons" type="submit" th:onclick="'window.location.href=\'' + @{/navegar/telaPrincipal} + '\''" value="Registrar" />
        
        <br>
        <br>
        <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/navegar/telaPrincipal} + '\''" value="Voltar" />
        </div>
        </div>
     </form>
  </body>
</html>
