<!DOCTYPE html>
<html>
  <head>
    <title>Cadastrar Usúario</title>
    <link rel="stylesheet" type="text/css" href="css/cadastroUsuario.css">
  </head>
  <body>
    <div class="form">
     <form>
        <h1 style="text-align: center;"> Registrar Novo Usuário</h1>
        <div>
          <label for="login">  </label>
          <input type="text" name="login" id="login" placeholder="Login">
        </div>
        <div>
          <label for="senha">  </label>
          <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>
        <br>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='telaPrincipal.html';" value="Registrar" />
        </div>
        <br>
        <br>
        <input class="buttons" type="button" onclick="location.href='telaPrincipal.html';" value="Voltar" />
        </div>
     </form>
  </body>
</html>
