<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Procurar produto</title>
        <link rel="stylesheet" href="/css/historicoCompras.css" th:href="@{/css/historicoCompras.css}"/>
    </head>
    <body>
        <br>
        <br>
        <br>
        <div class="tabela">    
            <table class="tabela1">
                <tr class="legenda">
                    <th>vendas_id</th>
                    <th>data_realizada</th>
                    <th>cliente_id</th>
                    <th>produto_id</th>
                </tr>
                <tr th:each="vendas : ${vendas}">
                    <td th:text="${vendas.vendas_id}" >vendas_id<</td>
                    <td th:text="${vendas.data_realizada}" >data_realizada<</td>
                    <td th:text="${vendas.cliente_id}" >cliente_id<</td>
                    <td th:text="${vendas.produto_id}" >produtos_id<</td>
                </tr>     
            </table>
            <table  class="tabela2">
                <tr class="legenda">
                    <th>clientes_id</th>
                    <th>nome</th>
                </tr>
                <tr  th:each="cliente : ${cliente}">
                    <td th:text="${cliente.cliente_id}" >cliente_id<</td>
                    <td th:text="${cliente.nome}" >nome<</td>
                </tr>     
            </table>
            </div>
            <br>
            <div class="form">
            <form>
                <div>
                    <br>
                    <label for="pesquisar" class="pesqCompra"> Pesquisar Cliente id </label>
                    <input type="text" name="pesquisar" id="pesquisar" placeholder="cliente_id">
                    <label for="pesquisar" class="pesqCliente"style="position: relative; margin-left: 3.3%;"></label>
                    <input type="text" name="pesquisar" id="pesquisar" placeholder="Pesquisar nome de cliente">
                </div>
                <br>
                <input style="float:right;"class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/navegar/telaPrincipal} + '\''" value="Voltar" />
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
    </body>
</html>
