<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" th:href="@{/css/index.css}">
  </head>
  <body>
    <div class="form">
     <img th:src="@{/images/246x246.png}" style="position: absolute; top: 50px;">
     <form>
        <h1 style="text-align: center;"> Bem Vindo </h1>
        <div>
          <label for="login"> </label>
          <input type="text" name="login" id="login" placeholder="Login">
        </div>
        <div>
          <label for="senha"> </label>
          <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>
        <br>
        <div style="text-align: center;">
          <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/navegar/telaPrincipal} + '\''" value="Entrar" />
        </div>
        </div>
     </form>
  </body>
</html>
