<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Procurar produto</title>
        <link rel="stylesheet" href="/css/procurarProduto.css" th:href="@{/css/procurarProduto.css}"/>
    </head>
    <body>
        <br>
        <br>
        <div class="tabela">       
            <table style="display: inline-block ;height: 700px;">
                <tr class="legenda">
                    <th>produtos_id</th>
                    <th>nome_produto</th>
                    <th>quantidade</th>
                    <th>valor</th>
                    <th>marca</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>nome</td>
                    <td>quantidade</td>
                    <td>50 R$</td>
                    <td>marca</td>
                </tr>     
            </table>
            </div>
            <br>
            <div class="form">
            <form>
                <div>
                    <label for="pesquisar" style="margin-left: 7%;"> Pesquisar nome do produto </label>
                    <input type="text" name="pesquisar" id="pesquisar">
                    <input class="buttons" type="button" onclick="location.href='telaPrincipal.html';" value="Voltar" />
                </div>
            </form>
        </div>
    </body>
</html>
