<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Tela Principal</title>
    <link rel="stylesheet" type="text/css" href="css/telaPrincipal.css" th:href="@{/css/telaPrincipal.css}">
  </head>
  <body>
    <div class="form">
    <img  th:src="@{/images/246x246.png}" style="position: absolute; right: 1100px; width: 600px;">
     <form>
        <div style="text-align: center;">
           <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/cadastrar/Cliente} + '\''" value="Cadastro Cliente" />
        </div>
        <div style="text-align: center;">
          <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/procurar/historico} + '\''" value="Historico de Compras" />
        </div>
        <div style="text-align: center;">
          <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/procurar/produto} + '\''" value="procurar Produto" />
        </div>
        <div style="text-align: center;">
          <input class="buttons" type="button" th:onclick="'window.location.href=\'' + @{/usuario/autenticacao} + '\''" value="Cadastro de Usúarios" />
        </div>
        </div>
     </form>
  </body>
</html>
