<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Tela Principal</title>
    <link rel="stylesheet" type="text/css" href="css/telaPrincipal.css">
  </head>
  <body>
    <div class="form">
    <img  th:src="@{/images/246x246.png}" style="position: absolute; right: 1100px; width: 600px;">
     <form>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='cadastroCliente.html';" value="Cadastro Cliente" />
        </div>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='historicoCompras.html';" value="historico de Compras" />
        </div>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='procurarProduto.html';" value="procurar Produto" />
        </div>
        <div style="text-align: center;">
          <input class="buttons" type="button" onclick="location.href='autenticacao.html';" value="Cadastro de Usúarios" />
        </div>
        </div>
     </form>
  </body>
</html>
